<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Book-Flight Module" parallel = "tests">
	<test name="book-flight for 1 PAX">
		<parameter name="NoOfPax" value="1" /> 
	 	<parameter name="expectedPrice" value="$584 USD" /> 
		<classes>
			<class name="com.DemoWebTours.Test.MyTest"/>
		</classes>
	</test>
	
	<test name="book-flight for 2 PAX">
		<parameter name="NoOfPax" value="2" /> 
	 	<parameter name="expectedPrice" value="$1169 USD" /> 
		<classes>
			<class name="com.DemoWebTours.Test.MyTest"/>
		</classes>
	</test>
	
	<test name="book-flight for 3 PAX">
	     <parameter name="NoOfPax" value="3" /> 
		 <parameter name="expectedPrice" value="$1753 USD" />  
		<classes>
			<class name="com.DemoWebTours.Test.MyTest"/>
		</classes>
	</test>
	
		<test name="book-flight for 4 PAX">
	     <parameter name="NoOfPax" value="4" /> 
		 <parameter name="expectedPrice" value="$2338 USD" />  <!-- 2338 -->
		<classes>
			<class name="com.DemoWebTours.Test.MyTest"/>
		</classes>
	</test>
	
</suite>